body{
    display: flex;
    flex-wrap: nowrap;
    background-color: cadetblue;
    font-size: 1.2em;
}

/*Alignement des input verticalement*/
/*form  { display: table;      }*/
li     { display: table-row;  }
label { display: table-cell; }
/*input { display: table-cell; }*/
select {
    display: table-cell;
    margin-bottom: 0.3em;
    margin-left: 0.6em;
    font-size: 1.1em;
}

li{
    list-style: none;
    margin-left: 1em;
    margin-bottom: 0.4em;
}
input{
    margin-bottom: 0.3em;
    margin-left: 1em;
}


fieldset{
    flex: 1 1 38%;
    margin-right: 10px;
}

aside{
    flex: 1 1 58%;
    margin-left: 10px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

#boutons{
    margin-top: 0.5em;
    display: flex;
}

#boutons input{
    font-size: 1.3em;
}
