body *{
    margin: 0.5em 0.5%;
    padding:0.5em 0.5%;
}
header{
    background: lightgrey;
    display: flex;
}

#ajouterActivite{
    background: lightgreen;
    flex-grow: 1;
}
#utilisateur{
    background: lightyellow;
}
#selectionJounrneeAffichee{
    background: lightpink;
    display:flex;
}
#planning{background: skyblue;}
p{
    background: lightblue;
}
article {
    display: inline-block;
}


/*
body>* { display: inline-block; }
*/
p { display: inline-block; }


table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

